################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductListing
/BusinessLayer/bin/Debug/net5.0
/BusinessLayer/obj
/DataAccess/bin/Debug/net5.0
/DataAccess/obj
